<div class="form">
  <h3>Registro de usuario</h3>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formSchema" class="flex flex-column gap-2">
      <div class="flex flex-column">
        <label [for]="field.id">{{ field.label }}</label>
        <input
          [type]="field.type"
          pInputText
          [id]="field.id"
          [placeholder]="field.placeholder"
          [formControlName]="field.formControlName"
        />
      </div>
      <div
        *ngIf="loginForm.controls[field.formControlName].errors?.['required'] && formSubmitted"
      >
        <small style="color: red">{{ field.label }} es requerido.</small>
      </div>
      <div
        *ngIf="loginForm.controls[field.formControlName].errors?.['minlength'] && formSubmitted"
      >
        <small style="color: red"
          >{{ field.label }} debe tener al menos
          {{ loginForm.controls[field.formControlName].errors?.['minlength'].requiredLength }}
          caracteres.</small
        >
      </div>
      <div
        *ngIf="loginForm.controls[field.formControlName].errors?.['email'] && formSubmitted"
      >
        <small style="color: red">Correo Electronico invalido.</small>
      </div>
      <!-- <small id="username-help">Enter your username to reset your password.</small> -->
    </div>
    <button pButton pRipple label="Submit" class="p-button-success"></button>
  </form>
</div>
